/***** ESTILOS GENERALES *****/
* {
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', sans-serif; }

body {
  background-color: #bcd4e6; }

/* Estilos Menu */
.navbarItems a {
  text-decoration: none;
  color: white; }
  .navbarItems a:hover {
    font-size: 1rem;
    text-transform: uppercase; }

/* Estilos header */
header {
  background-color: #99c1de;
  border: solid #a8dadc 2px; }
  header .navbarTitulo {
    color: #560bad;
    text-shadow: 1px 2px #eedb72;
    text-align: center;
    margin: 10px; }

/* Estilos formularios */
.formulario {
  background-color: lightgrey;
  border: 15px solid red;
  padding: 50px;
  margin: 50px;
  /***** FLEXBOX *****/ }
  .formulario .centrar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; }

/* Estilos textos */
.textos {
  font-size: medium;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 2px #f8f1f1;
  color: #560bad; }

/*Estilos carrusel, imagenes e iframe*/
.carrusel {
  border: outset pink 5px;
  background-color: white;
  margin-top: 10px; }

.imgNosotros {
  width: 25vh;
  height: 25vh;
  padding: 2px;
  margin-left: 25%;
  margin-top: 10px;
  border: outset pink 5px;
  background-color: white; }

.video {
  background-color: white;
  border: outset 4px #fde2e4;
  padding: 5px;
  width: 50vh;
  height: 50vh; }

footer {
  background-color: #bb9f9f;
  text-decoration: none;
  color: white;
  padding: 3px;
  margin: 3px;
  border: double black 5px; }
  footer .footerItems {
    text-align: end;
    list-style: none; }

/*************** Desktop ***************/
@media (min-width: 1024px) {
  header {
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #83eaf1 0%, #63a4ff 74%);
    border: solid #a8dadc 2px; }
  /* Estilos textos */
  .textos {
    text-align: center;
    line-height: 1.6;
    font-size: large;
    font-weight: bold;
    text-shadow: 1px 2px #eedb72;
    color: #560bad;
    margin: 4%; }
  .textoDonacion {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 10%;
    text-shadow: 1px 2px #eedb72;
    color: #560bad; }
  .titulos {
    color: #560bad;
    text-shadow: 1px 2px rgba(255, 1, 213, 0.918);
    text-align: center;
    font-size: 10vh; }
  /*imagenes*/
  .imgNosotros {
    width: 50vh;
    height: 50%;
    padding: 2px;
    margin-top: 10px;
    border: outset pink 5px;
    background-color: white; }
  /* Estilos footer */
  footer {
    background-color: lightgray;
    text-decoration: none;
    color: white;
    padding: 3px;
    margin: 3px;
    border: double black 5px; }
    footer li {
      display: inline-block; }
    footer .footerItems {
      text-align: end;
      list-style: none; }
  /*Iframe*/
  .video {
    background-color: white;
    border: outset 4px #fde2e4;
    padding: 5px;
    margin-left: 10%;
    margin-right: 5%;
    width: 100vh;
    height: 50vh; }
  .tituloAnimado {
    animation-name: tituloAnimado;
    animation-iteration-count: 1;
    animation-duration: 2s; }
  @keyframes tituloAnimado {
    from {
      transform: translate(-500px);
      opacity: 0; }
    to {
      transform: translate(0);
      opacity: 1; } } }

/*************** Tablets ***************/
@media (min-width: 480px) and (max-width: 1023px) {
  /* Estilos textos */
  .textos {
    text-align: center;
    line-height: 1.6;
    font-size: large;
    font-weight: bold;
    text-shadow: 1px 2px white;
    color: #560bad;
    margin: 4%; }
  .textoDonacion {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 10%;
    text-shadow: 1px 2px;
    color: #560bad; }
  .titulos {
    color: #821df5;
    text-shadow: 1px 2px;
    text-align: center;
    font-size: 15vh; }
  .imgNosotros {
    width: 65vh;
    height: 50vh;
    border: dashed #e06c7f 10px;
    background-color: #bbdbbe; }
  .video {
    background-color: white;
    border: outset 4px #fde2e4;
    padding: 5px;
    margin-left: 10px;
    width: 100vh;
    height: 50vh; } }
