@import "variables";


/*************** Desktop ***************/
@media (min-width: 1024px) {

    header {
        background-color: #63a4ff;
        background-image: linear-gradient(315deg, #83eaf1 0%, #63a4ff 74%);
        border: solid #a8dadc 2px;
    }
/* Estilos textos */
    .titulos {
        color: #560bad;
        text-shadow: 1px 2px $rosas;
        text-align: center;
        font-size: 10vh;
    }
/*imagenes*/
    .imgNosotros {
        width: 50vh;
        height: 50%;
        padding: 2px;
        margin-top: 10px;
        border: outset pink 5px;
        background-color: white;
    }

/* Estilos footer */
    footer {
    background-color: lightgray;
    text-decoration: none;
    color: white;
    padding: 3px;
    margin: 3px;
    border: double black 5px;
     li {
        display: inline-block;
     }
     .footerItems {
        text-align: end;
        list-style: none;
     } 
    }

/*Iframe*/
    .video {
        background-color: white;
        border: outset 4px #fde2e4;
        padding: 5px;
        margin-left: 10%;
        margin-right: 5%;
        width: 100vh;
        height: 50vh;
    }

    .tituloAnimado {
        animation-name: tituloAnimado;
        animation-iteration-count: 1;
        animation-duration: 2s;
        @keyframes tituloAnimado {
            from {
                transform: translate(-500px);
                opacity: 0;
            }
        
            to {
                transform: translate(0);
                opacity: 1;
            }
        }
    }  
}
@import "extend";