@import "variables";


/*************** Tablets ***************/
@media (min-width: 480px) and (max-width: 1023px) {

    /* Estilos textos */
    .textos {
        text-align: center;
        line-height: 1.6;
        font-size: large;
        font-weight: bold;
        text-shadow: 1px 2px white;
        color: #560bad;
        margin: 4%;
    }
    .textoDonacion {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin: 10%;
        text-shadow: 1px 2px;
        color:  #560bad;
    }
    .titulos {
        color: #821df5;
        text-shadow: 1px 2px;
        text-align: center;
        font-size: 15vh;
    }
    .imgNosotros {
        width: 65vh;
        height: 50vh;
        border: dashed rgb(224, 108, 127) 10px;
        background-color:  #bbdbbe;
    }
    .video {
        background-color: white;
        border: outset 4px #fde2e4;
        padding: 5px;
        margin-left: 10px;
        width: 100vh;
        height: 50vh;
    }
}

