// ANIDAMIENTO

/***** ESTILOS GENERALES *****/
* {
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', sans-serif;
}

body {
    background-color: #bcd4e6;
}

/* Estilos Menu */
.navbarItems a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    &:hover {
        font-size: 1rem;
        text-transform: uppercase;
    }
}

/* Estilos header */
header {
    background-color: #99c1de;
    border: solid #a8dadc 2px;
    .navbarTitulo {
        color: #560bad;
        text-shadow: 1px 2px rgb(238, 219, 114);
        text-align: center;
        margin: 10px;
    }
}

/* Estilos formularios */
.formulario {
    background-color: lightgrey;
    border: 15px solid red;
    padding: 50px;
    margin: 50px;

    /***** FLEXBOX *****/
 .centrar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
 }
}

/* Estilos textos */
.textos {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 2px #f8f1f1;
    color: #560bad;;

}

/*Estilos carrusel, imagenes e iframe*/
.carrusel {
    border: outset pink 5px;
    background-color: white;
    margin-top: 10px;
}
.imgNosotros {
    width: 25vh;
    height: 25vh;
    padding: 2px;
    margin-left: 25%;
    margin-top: 10px;
    border: outset pink 5px;
    background-color: white;
}
.video {
    background-color: white;
    border: outset 4px #fde2e4;
    padding: 5px;
    width: 50vh;
    height: 50vh;
}

footer {
    background-color: rgb(187, 159, 159);
    text-decoration: none;
    color: white;
    padding: 3px;
    margin: 3px;
    border: double black 5px;

    .footerItems {
        text-align: end;
        list-style: none;
    }
}

//IMPORT

@import "estilosDesktop";
@import "estilosTablets";
@import "variables";

