// ANIDAMIENTO

/***** ESTILOS GENERALES *****/
* {
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', sans-serif;
}

body {
    width: 100vh;
    height: 100vh;
    background-color: #bcd4e6;
}

/* Estilos Menu */
.navbarItems a {
    text-decoration: none;
    color: white;
    &:hover {
        font-size: 2rem;
        text-transform: uppercase;
    }
}

/* Estilos header */
header {
    background-color: #99c1de;
    border: solid #a8dadc 2px;

    .navbarTitulo {
        color: #560bad;
        text-shadow: 1px 2px $rosa;
        text-align: center;
        margin: 10px;
    }
    .tituloAnimado {
        animation-name: tituloAnimado;
        animation-iteration-count: 1;
        animation-duration: 2s;
        @keyframes tituloAnimado {
            from {
                transform: translate(-500px);
                opacity: 0;
            }
        
            to {
                transform: translate(0);
                opacity: 1;
            }
        }
    }  
}

/* Estilos formularios */
.formulario {
    background-color: lightgrey;
    border: 15px solid $rojo;
    padding: 50px;
    margin: 50px;

    /***** FLEXBOX *****/
 .centrar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
 }
}

/* Estilos textos */
.textos {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 2px #f8f1f1;
    color: $rosa;

}

/*Estilos carrusel, imagenes e iframe*/
.Carrusel {
    border: outset pink 5px;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
}
.imgNosotros {
    width: 25vh;
    height: 25vh;
    padding: 2px;
    margin-left: 25%;
    margin-top: 10px;
    border: outset pink 5px;
    background-color: white;
}
.video {
    background-color: white;
    border: outset 4px #fde2e4;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
    width: 100vh;
    height: 50vh;
}

footer {
    background-color: rgb(187, 159, 159);
    text-decoration: none;
    color: white;
    padding: 3px;
    margin: 3px;
    border: double black 5px;

    .footerItems {
        text-align: end;
        list-style: none;
    }
}

//IMPORT

@import "estilosDesktop";
@import "estilosTablets";

//VARIABLES
$rojo: red;
$rosa: rgba(255, 1, 213, 0.918);